**Data type and structure questions**

**1 What are data structures, and why are they important?**

-> Data structures are ways of organizing and storing data (e.g., lists, tuples, sets, dictionaries). They are important because they allow efficient data access, modification, and management.


---


**2 Explain the difference between mutable and immutable data types with examples.**

 -> Mutable: Can be changed after creation. Example: list = [1, 2, 3] → we can do list.append(4).

Immutable: Cannot be changed after creation. Example: tuple = (1, 2, 3) → elements cannot be modified.

---


 **3. What are the main differences between lists and tuples in Python?**

->Lists can be changed, while tuples cannot.
Lists use square brackets [ ], tuples use round brackets ( ).
Because tuples never change, they are a bit faster and are used for fixed data.

---






**4. Describe how dictionaries store data.**



-> Dictionaries store data in key–value pairs using a hash table. Keys are unique and mapped to values. Example: {"name": "Alice", "age": 25}.

---

 **5. Why might you use a set instead of a list in Python?**


-> Sets automatically remove duplicates.

Sets allow faster membership checking (in).



---

**6. What is a string in Python, and how is it different from a list?**


 ->A string is an immutable sequence of characters, while a list is a mutable collection of items (which can include numbers, strings, etc.).


---

**7. How do tuples ensure data integrity in Python?**


->Since tuples are immutable, their data cannot be changed accidentally, ensuring data safety.


---

**8. What is a hash table, and how does it relate to dictionaries in Python?**


->A hash table stores data using a hash function that maps keys to memory locations. Python’s dictionaries are implemented as hash tables.


---

**9. Can lists contain different data types in Python?**

->
Yes. Example: [1, "hello", 3.14, True].


---

**10. Explain why strings are immutable in Python.**


->
Strings are immutable to make them memory-efficient, thread-safe, and reusable in multiple places.


---

**11. What advantages do dictionaries offer over lists for certain tasks?**



->
Faster lookup using keys (O(1) on average).

Better for structured data.



---

**12. Describe a scenario where using a tuple would be preferable over a list**.



->
When storing coordinates (x, y) that should not be changed.


---

**13. How do sets handle duplicate values in Python?**



->
Sets automatically remove duplicates. Example: {1, 2, 2, 3} → {1, 2, 3}.


---

**14. How does the "in" keyword work differently for lists and dictionaries?**


->
In list: checks if element exists (3 in [1,2,3]).

In dict: checks if key exists ("name" in {"name": "Bob"}).



---
**15. Can we modify a tuple?**


->No, because tuples are immutable.


---
 **16. What is a nested dictionary?**


->A dictionary inside another dictionary.
Example: {"student": {"name": "John", "age": 20}}.

---

 **17. Time complexity of dictionary access?**



->O(1) on average (very fast).

---

**18. When are lists preferred over dictionaries?**


->When you only need ordered items without key-value pairs.


---
**19. Why are dictionaries unordered?**

->They use hashing, so order does not matter. In Python 3.7+, they maintain insertion order but still retrieval is by key.


---


**20. Difference between list and dictionary retrieval?**



->
List: access by index (e.g., list[2]).

Dictionary: access by key (e.g., dict["name"]).

       **PRACTICAL QUESTIONS**

In [ ]:
#1. Create a string with your name and print it.

name = "Anjali"
print(name)

Anjali

In [ ]:
#2. Find the length of the string "Hello World".

text = "Hello World"
print(len(text))

11

In [ ]:
#3. Slice the first 3 characters from the string "Python Programming".

s = "Python Programming"
print(s[:3])

Pyt

In [ ]:
#4. Convert the string "hello" to uppercase.

word = "hello"
print(word.upper())

HELLO

In [ ]:
#5. Replace the word "apple" with "orange" in the string "I like apple".

sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

In [ ]:
#6. Create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
#7. Append the number 10 to the list [1, 2, 3, 4].

lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

In [ ]:
#8. Remove the number 3 from the list [1, 2, 3, 4, 5].

lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

In [ ]:
#9. Access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10. Reverse the list [10, 20, 30, 40, 50].

nums = [10, 20, 30, 40, 50]
nums.reverse()
print(nums)

[50, 40, 30, 20, 10]

In [ ]:
#11. Create a tuple with elements 100, 200, 300 and print it.

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [ ]:
#12. Access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

t = ('red', 'green', 'blue', 'yellow')
print(t[-2])

blue

In [ ]:
#13. Find the minimum number in the tuple (10, 20, 5, 15).

t = (10, 20, 5, 15)
print(min(t))

5

In [ ]:
#14. Find the index of 'cat' in the tuple ('dog', 'cat', 'rabbit').

t = ('dog', 'cat', 'rabbit')
print(t.index('cat'))

1

In [ ]:
#15. Tuple with fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

In [ ]:
#16. Create a set with {'a', 'b', 'c'} and print it.

s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

In [ ]:
#17. Clear all elements from the set {1, 2, 3, 4, 5}.

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [ ]:
#18. Remove element 4 from the set {1, 2, 3, 4}.

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
#19. Find union of two sets {1, 2, 3} and {3, 4, 5}.

s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.union(s2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Find intersection of two sets {1, 2, 3} and {2, 3, 4}.

s1 = {1, 2, 3}
s2 = {2, 3, 4}
print(s1.intersection(s2))

{2, 3}

In [ ]:
#21. Create a dictionary with keys 'name', 'age', 'city' and print it.

d = {'name': 'John', 'age': 25, 'city': 'New York'}
print(d)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [ ]:
#22. Add new key-value pair 'country':'USA' to dictionary.

d = {'name': 'John', 'age': 25}
d['country'] = 'USA'
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Access the value associated with key 'name'.

d = {'name': 'Alice', 'age': 30}
print(d['name'])

Alice

In [ ]:
#24. Remove key 'age' from dictionary.

d = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d['age']
print(d)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Check if key 'city' exists in dictionary.

d = {'name': 'Alice', 'city': 'Paris'}
print('city' in d)

True

In [ ]:
#26. Create a list, a tuple, and a dictionary, and print all.

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 10, 'b': 20}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 10, 'b': 20}

In [ ]:
#27. Create a list of 5 random numbers (1–100), sort, and print.

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[1, 10, 49, 58, 95]

In [ ]:
#28. Create a list with strings and print element at third index.

words = ['apple', 'banana', 'cherry', 'date']
print(words[3])

date

In [ ]:
#29. Combine two dictionaries into one.

d1 = {'a': 1, 'b': 2}
d2 = {'c': 3, 'd': 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
#30. Convert a list of strings into a set.

lst = ['apple', 'banana', 'apple', 'cherry']
s = set(lst)
print(s)

{'cherry', 'banana', 'apple'}